<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Forget Password</h3>
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>Forget Password</li>
      </ul>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="col-lg-6">
    <div class="user-all-form">
      <div class="contact-form">
        <h3>Reset Password</h3>
        <div class="bar"></div>
        <form id="contactForm" novalidate="true" [formGroup]="resetForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Code</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  required=""
                  data-error="Please enter your Username or Email"
                  formControlName="resetPasswordToken"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label>New Password</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  required=""
                  data-error="Please enter your new password"
                  formControlName="newpassword"
                />
              </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
              <button
                type="button"
                class="default-btn disabled"
                style="pointer-events: all; cursor: pointer"
                (click)="reset()"
                routerLink="/home"
              >
                Reset Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
