
<div class="navbar-area">
    <div class="main-responsive-nav">
    <div class="main-responsive-menu">
    <div class="responsive-burger-menu d-lg-none d-block">
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
    </div>
    </div>
    </div>
    <div class="mobile-responsive-nav">
    <div class="mobile-responsive-menu">
    </div>
    </div>
    
    <div class="desktop-nav desktop-nav-one nav-area">
    <nav class="navbar navbar-expand-md navbar-light ">
    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <li class="nav-item">
    <a href="#" class="nav-link">
    Specialité
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/sp" class="nav-link">
    Liste specialités
    </a>
    </li>
    <li class="nav-item">
    <a href="/home/addsp" class="nav-link">
    Ajouter specialité
    </a>
    </li>

    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    Places
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/places" class="nav-link">Liste places</a>
    </li>
    <li class="nav-item">
    <a href="/home/addplaces" class="nav-link">Ajouter places</a>
    </li>

    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
   Entreprise
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/entreprise" class="nav-link">
   Liste entreprises
    </a>
    </li>

    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    Candidats
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/candidat" class="nav-link">
    Liste candidats
    </a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    Offres Emplois
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/offre" class="nav-link">
    Liste Offres
    </a>
    </li>
 
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    Pages
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
   
    <li class="nav-item">
    <a href="/registre" class="nav-link">
     Registre
    </a>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">
        Login 
        </a>
        </li>
    <li class="nav-item">
    <a href="/home/changepwd" class="nav-link">
    Changer Mot du passe
    </a>
    </li>
  
    </ul>
    </li>
    </ul>
    <div class="others-options d-flex align-items-center">
    <div class="optional-item">
    <div class="dropdown profile-nav-item">
    <a href="" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="menu-profile">
    <img src="http://localhost:3000/getfile/{{userconnect.image}}" class="rounded-circle" alt="image">
     <span class="name">Mon compte</span>
    </div>
    </a>
    <div class="dropdown-menu">
    <div class="dropdown-header d-flex flex-column align-items-center">
    <div class="figure mb-3">
    <img src="http://localhost:3000/getfile/{{userconnect.image}}" class="rounded-circle" alt="image">
    </div>
    <div class="info text-center">
    <span class="name">{{userconnect.nom}}</span>
    <p >{{userconnect.email}}</p>
    </div>
    </div>
    <div class="dropdown-body">
    <ul class="profile-nav p-0 pt-3">
    <li class="nav-item active">
    <a href="/home" class="nav-link">
    <span class="icon"><i class="ri-home-line"></i></span>
    <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item">
  
    </ul>
    </div>
    <div class="dropdown-footer">
    <ul class="profile-nav">
    <li class="nav-item">
    <a  class="nav-link" (click)="logout()"><i class="ri-logout-box-r-line" routerLink="/"></i> <span>Logout</span></a>
    </li>
    </ul>
    </div>
    </div>
     </div>
    </div>
    </div>
    </div>
    </nav>
    </div>
    <div class="side-nav-responsive">
    <div class="container-max">
    <div class="dot-menu">
    <div class="circle-inner">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    </div>
    </div>
    <div class="container">
    <div class="side-nav-inner">
    <div class="side-nav justify-content-center align-items-center">
    <div class="option-item">
    <div class="dropdown profile-nav-item">
    <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="menu-profile">
    <img src="assets/images/user-img/user-img2.jpg" class="rounded-circle" alt="image">
    <span class="name">My Account</span>
    </div>
    </a>
    <div class="dropdown-menu">
    <div class="dropdown-header d-flex flex-column align-items-center">
    <div class="figure mb-3">
    <img src="assets/images/user-img/user-img2.jpg" class="rounded-circle" alt="image">
    </div>
    <div class="info text-center">
    <span class="name">Andy Smith</span>
    <p class="mb-3 email"><a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ddb5b8b1b1b29dbcb3b9afb2aeb0b4a9b5f3beb2b0">[email&#160;protected]</a></p>
    </div>
    </div>
    <div class="dropdown-body">
    <ul class="profile-nav p-0 pt-3">
    <li class="nav-item active">
    <a href="dashboard.html" class="nav-link">
    <span class="icon"><i class="ri-home-line"></i></span>
    <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item">
    <a href="dashboard-applicants.html" class="nav-link">
    <span class="icon"><i class="ri-file-list-line"></i></span>
    <span class="menu-title">All Applicants</span>
    </a>
    </li>
    <li class="nav-item">
    <a href="dashboard-submit-resume.html" class="nav-link">
     <span class="icon"><i class="ri-bookmark-line"></i></span>
    <span class="menu-title">Submit Resumes</span>
    </a>
    </li>
    <li class="nav-item">
    <a href="dashboard-packages.html" class="nav-link">
    <span class="icon"><i class="ri-stack-fill"></i></span>
    <span class="menu-title">Packages</span>
    </a>
    </li>
    </ul>
    </div>
    <div class="dropdown-footer">
    <ul class="profile-nav">
    <li class="nav-item">
    <a   class="nav-link"  (click)="logout()"><i class="ri-logout-box-r-line"></i> <span>Logout</span></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
