<div class="copyrights-area">
    <div class="row align-items-center">
    <div class="col-lg-6 col-sm-6 col-md-6">
    <p><i class="ri-copyright-line"></i>  All Rights Reserved </p>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 text-end">
    <p>Designed by: Ben Slimene Marwa</p>
    </div>
    </div>
    </div>