<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Liste Candidat</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Liste Candidat</li>
    </ul>
    </div>
    </div>
    </div>


<div class="candidates-area pt-100 pb-70">
    <div class="container">
    <div class="row">

        <div class="col-lg-8">
            <div class="candidates-topper">
            <div class="row align-items-center">
   
    </div>
    </div>
    <div class="row pt-45 justify-content-center" >
    <div class="col-lg-6 col-sm-6" *ngFor="let candidat of listcandidat  | paginate: { itemsPerPage:4, currentPage: p }">
    <div class="freelancers-card">
    <a class="p" [routerLink]="['/home/detailcandidat',candidat._id]">
    <img src="http://localhost:3000/getfile/{{candidat.image}}" alt="Images">
    </a>
    <div class="title">
    <h3>
    <a class="c" [routerLink]="['/home/detailcandidat',candidat._id]">{{candidat.nom}} {{candidat.prenom}}</a>
    </h3>
    </div>
    <p>{{candidat.email}}</p>
   
    </div>
    </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center">
        <div class="pagination-area">
            <div class="row">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
    </div>
    </div>
    </div>
