<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Offres d'Emplois</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Offres d'Emplois</li>
    </ul>
    </div>
    </div>
    </div>

<div class="company-widget-area pt-100 pb-70">
    <div class="container">
    <div class="section-title text-center">
    <h2>Offres d'Emplois</h2>

    <div class="row pt-45 justify-content-center">
    <div class="col-lg-3 col-6" *ngFor="let offre of listoffre  | paginate: { itemsPerPage:4, currentPage: p }">
    <div class="company-card box-shadow" >
        <div class="job-post-img">
            <img src="http://localhost:3000/getfile/{{offre?.entreprise?.image}}" alt="Images"></div>
    <h4><a class="p" [routerLink]="['/home/detailoffre',offre._id]">{{offre.titre}}</a></h4>
    <p><i class="ri-map-pin-line"></i>{{offre.entreprise.adresse}}</p>
    <div> <button type="button" class="btn btn-info btn sweet-message" (click)="confirmoffre(offre._id,offre)" *ngIf="!offre.verifier">
        <span class="btn-icon-left "><i class="fa fa-plus ">Confirmer</i>
   </span></button></div>
</div></div>
    <div class="col-lg-12 col-md-12 text-center">
    <div class="pagination-area">
        <pagination-controls
        (pageChange)="p = $event"
      ></pagination-controls>
    <i class="ri-arrow-left-s-line"></i>
 
    
    
    </div>
    </div>
    </div>
    </div>

