<div class="main-dashboard-content d-flex flex-column">

    
    <div class="breadcrumb-area">
    <h1>Change Password</h1>
    <ol class="breadcrumb">
    <li class="item"><a href="/home">Home</a></li>
    <li class="item">Change Password</li>
    </ol>
    </div>
    
    
    <div class="change-password-box">
    <h3>Change Password</h3>
    <div class="bar"></div>
    <form [formGroup]="ChangeForm">
    <div class="row">
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Current Password</label>
    <input type="text" class="form-control" formControlName="oldpassword">
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>New Password</label>
    <input type="text" class="form-control" formControlName="newpassword">
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Confirm New Password</label>
    <input type="text" class="form-control" formControlName="newpassword">
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <button type="button" class="default-btn" (click)="ChangePassword()">Change Password <i class="ri-send-plane-fill"></i></button>
    </div>
    </div>
    </form>
    </div>
    
    
    
    </div>
