<div class="sidemenu-area">
    <div class="sidemenu-header">
    <a href="dashboard.html" class="navbar-brand d-flex align-items-center">
    <img src="assets/images/jobgate.png" class="logo-one" alt="Logo"> </a>
    <div class="responsive-burger-menu d-block d-lg-none">
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
    </div>
    </div>
    <div class="sidemenu-body">
    <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
    <li class="nav-item active">
    <a href="dashboard.html" class="nav-link">
    <span class="icon"><i class="ri-home-line"></i></span>
    <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item">
    <a href="/home/entreprise" class="nav-link">
    <span class="icon"><i class="ri-user-line"></i></span>
    <span class="menu-title">Sociétés</span>
    </a>
    </li>
    <li class="nav-item">
        <a href="/home/candidat" class="nav-link">
        <span class="icon"><i class="ri-file-list-line"></i></span>
        <span class="menu-title">Candidats</span>
        </a>
        </li>
        <li class="nav-item">
            <a href="/home/addsp" class="nav-link">
            <span class="icon"><i class="ri-list-check"></i></span>
            <span class="menu-title">Specialités</span>
            </a>

            </li>
    <li class="nav-item">
    <a href="/home/addplaces" class="nav-link">
    <span class="icon"><i class="ri-send-plane-fill"></i></span>
    <span class="menu-title">Places</span>
    </a>
    </li>

    <li class="nav-item">
    <a href="/home/changepwd" class="nav-link">
    <span class="icon"><i class="ri-lock-line"></i></span>
    <span class="menu-title">Change Password</span>
    </a>
    </li>
    <li class="nav-item">
    <a href="/home/profil" class="nav-link">
    <span class="icon"><i class="ri-user-line"></i></span>
    <span class="menu-title"> Profile</span>
    </a>
    </li>
    <li class="nav-item">
    <a  class="nav-link" (click)="logout()">
    <span class="icon"><i class="ri-logout-circle-r-line"></i></span>
    <span class="menu-title" routerLink="/">Logout</span>
    </a>
    </li>

    </ul>
    </div>
    </div>
    