
<div class="row align-items-center justify-content-center">
    <div class="col-lg-12">
    <div class="user-all-form">
    <div class="contact-form">
    <h3>Ajouter Place</h3>
    <div class="bar"></div>
    <form id="contactForm" novalidate="true" [formGroup]="addForm">
    <div class="row">
    <div class="col-lg-12 ">
    <div class="form-group">
    <label>Adresse</label>
    <input type="text" name="adresse" id="name" class="form-control" required="" data-error="Please enter adresse" formControlName="adresse">
    </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center">
    <button type="button" class="default-btn disabled" style="pointer-events: all; cursor: pointer;" (click)="onSubmit()" >
        Ajouter Place
    </button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>



