<div class="container-fluid">
    <!-- Page Heading -->
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Specialités</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
      
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                  <label
                    >Search:<input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder=""
                      [(ngModel)]="search_nom"
                      aria-controls="dataTable"
                  /></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-bordered dataTable"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="dataTable_info"
                  style="width: 100%"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >Nom</th>
                      <th
                      class="sorting sorting_asc"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      aria-label="Name: activate to sort column descending"
                      style="width: 57px"
                    >Description</th>
              
                  <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="dataTable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Position: activate to sort column ascending"
                  style="width: 80px"
                >
                 Actions
                </th>
                    </tr>
                  </thead>
  
                  
                  <tbody>
                    <tr
                      *ngFor="
                        let sp of listsp
                          | paginate: { itemsPerPage:2, currentPage: p }
                          | recherche1: search_nom
                      "
                    >
                      <td>{{ sp.nom }}</td>
                      <td>{{ sp.description }}</td>
                      <td>
                          <button class="btn btn-warning btn-circle " (click)="open(content,sp)">
                              <i class="fas fa-exclamation-triangle">Modifier</i>
                              
                          </button>
                          &nbsp; &nbsp;
                           <button class="btn btn-danger btn-circle " (click)=" deletspecialite(sp._id)">
                              <i class="fas fa-trash">Supprimer</i>
                          </button>
                         
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifier Specialité</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" >
          <div class="form-group" >
            <label for="nom">Nom</label>
            <div class="input-group">
              <input id="nom" class="form-control" formControlName="nom" >
            </div>
          </div>
          <div class="form-group" >
            <label for="description">Description</label>
            <div class="input-group">
              <input id="description" class="form-control" formControlName="description">
            </div>
          </div>
  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); updatesp()">Save</button>
      </div>
    </ng-template>

    
    <hr>
    
    <pre>{{ closeResult }}</pre>

