
  
 
  
    <div class="breadcrumb-area">
    <h1>Accueil</h1>
    <ol class="breadcrumb">
    <li class="item"><a href="/home">Home</a></li>
    <li class="item">Dashboard</li>
    </ol>
    </div>
    
    
 
    
    
  
    
 
    
    
    <div class="all-applicants-box">
    <h2>Derniers Candidats</h2>
    <div class="row">
    <div class="col-lg-6 col-md-12">
    <div class="single-applicants-card">
     <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other1.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">Jonathon Ronan</a>
    </h3>
    <span>IT Specialist</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> USA</li>
    <li><i class="ri-time-line"></i> Part Time</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="single-applicants-card">
    <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other2.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">John Carter</a>
    </h3>
    <span>UI/UX Designer</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> Australia</li>
    <li><i class="ri-time-line"></i> Full Time</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
     <div class="single-applicants-card">
    <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other3.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">David Johan</a>
    </h3>
    <span>Programmer</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> Francisco</li>
    <li><i class="ri-time-line"></i> Temporary</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="single-applicants-card">
    <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other4.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">Betty Stevens</a>
    </h3>
    <span>Manager</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> Canada</li>
    <li><i class="ri-time-line"></i> Part Time</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="single-applicants-card">
    <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other5.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">Joshua Moreno</a>
    </h3>
    <span>Engineer</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> Japan</li>
    <li><i class="ri-time-line"></i> Full Time</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="single-applicants-card">
    <div class="image">
    <a href="candidates-details.html"><img src="assets/images/user-img/user-img-other6.jpg" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    <a href="candidates-details.html">Jerry Thomas</a>
    </h3>
    <span>Quality Assurance</span>
    <ul class="job-info">
    <li><i class="ri-map-pin-line"></i> Germany</li>
    <li><i class="ri-time-line"></i> Internship</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="View Aplication" type="button"><i class="ri-eye-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Approve Aplication" type="button"><i class="ri-check-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject Aplication" type="button"><i class="ri-close-line"></i></button></li>
    <li><button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Aplication" type="button"><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
   
    
    