<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Details Offre</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Details Offre</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="employers-details-area pt-100 pb-70">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="job-post-card box-shadow">
            <div class="job-post-img">
        <img src="http://localhost:3000/getfile/{{listoffre?.entreprise?.image}}" alt="Images"></div>
        <h3>{{listoffre.titre}}</h3>
        <div class="content">
        <div class="content-item">
        <ul class="content-list">
        <li><i class="ri-briefcase-line"></i> {{listoffre.entreprise.nom}}</li>
        <li><i class="ri-map-pin-line"></i>{{listoffre?.place.adresse}}</li>
        </ul>
        </div>
        <button class="btn btn-danger btn-circle " (click)=" deleteoffre(listoffre._id)">
            <i class="fas fa-trash">Supprimer</i>
        </button>
        </div>
        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="job-details-widget-side pr-20">
        <div class="job-details-widget">
        <h3 class="title">À propos de l'offre'</h3>
        <div class="bar"></div>
        <ul class="job-details-category">
        <li>Date: <span>{{listoffre.date}}</span></li>
        <li>Type: <span>{{listoffre.type}}</span></li>
        <li>Email: <span>{{listoffre.entreprise.email}}</span></li>
        </ul>

        </div>

        </div>
        </div>
        <div class="col-lg-8">
        <div class="employers-details-content">
        <div class="content mb-30">
        <h3> Description de l'offre</h3>
        <div class="bar"></div>
        {{listoffre.description}}
       </div>

        </div>
        </div>
        </div>
        </div>

