
<div class="row align-items-center justify-content-center">
    <div class="col-lg-12">
    <div class="user-all-form">
    <div class="contact-form">
    <h3>Ajouter Specialité</h3>
    <div class="bar"></div>
    <form id="contactForm" novalidate="true" [formGroup]="addForm">
    <div class="row">
    <div class="col-lg-12 ">
    <div class="form-group">
    <label>Nom</label>
    <input type="text" name="nom" id="name" class="form-control" required="" data-error="Please enter name of specialité" formControlName="nom">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="des" id="des" class="form-control" required="" data-error="Please enter description of specialité" formControlName="description">
        </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center">
    <button type="button" class="default-btn disabled" style="pointer-events: all; cursor: pointer;" (click)="onSubmit()" >
        Ajouter Specialité
    </button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>



