<body>

    <div class="preloader">
        <div class="d-table">
        <div class="d-table-cell">
        <div class="spinner"></div>
        </div>
        </div>
        </div>
    
    <app-sidebar></app-sidebar>
    <div class="main-dashboard-content d-flex flex-column">
    <app-header></app-header>
   
 <router-outlet></router-outlet>
   
<app-footer></app-footer>
    </div>
</body>
